.article {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
}

.title {
  font-size: 28px;
  @media screen and (max-width: 768px) {
    font-size: 18px;
  }
}

.thumbnail {
  img {
    width: 100%;
  }
}

.content {
  line-height: 2;
  text-align: justify;
  h2 {
    margin: 30px 0;
    @media screen and (max-width: 768px) {
      margin: 20px 0;
      font-size: 16px;
    }
  }
  h3 {
    margin: 20px 0;
    @media screen and (max-width: 768px) {
      margin: 10px 0;
      font-size: 15px;
    }
  }
  p {
    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
  }
}
